.containerSlider1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-weight: 600;
  height: 85vh; /* Set the height to 40% of the viewport height */
}

.front {
  width: 100%;
  height: 100%; /* Set the height of the parent container to match the image height */
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .containerSlider1 {
    height: auto; /* Reset height for smaller screens */
  }

  .front {
    width: 100%;
    height: 100%; /* Set height to 100% to fill the container */
  }

  .front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
