.inqury-btn {
    font-family: "Inter";
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background:linear-gradient(
    90deg
    ,#434343,#434343 1px,#111 0,#111);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
  }
  .inqury-btn:before{
    content: "";
    background: linear-gradient(
      45deg,
      #EA5A1B,#2CA3CC
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .inqury-btn:active{
    background:linear-gradient(
      90deg
      ,#434343,#434343 1px,#111 0,#111);
  }
  
  .inqury-btn:active::after{
    background: transparent;
  }
  .inqury-btn:hover::before{
    opacity: 1;
  }
  .inqury-btn:after{
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(
    90deg
    ,#434343,#434343 1px,#111 0,#111);
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .form-box{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(150px);
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .transparent-modal {
    background-color: rgba(255, 165, 0, 0.5); /* Orange color with transparency */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Box shadow effect */
    padding: 20px; /* Adjust padding as needed */
    /* Add other styles as per your requirement */
  }


  /* In your CSS file, e.g., custom-modal.css */


.custom-modal .modal-header,
.custom-modal .modal-footer {
  background-color: orange;
}

.custom-modal .modal-title {
  color: white;
}

/* Add more custom styles as needed */
